
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

<div class="container">
<form action="/action_page.php" #userForm="ngForm" (ngSubmit)="onsubmitButtonClick(userForm)">
  

  <img src="../assets/caritor.jpg">
  
  <h2>Login</h2>

 
<div class="input-container">
      <i class="fa fa-user icon" style="margin-right: 1px;"></i>
      <input type="text" name="fname" placeholder="Username" autocomplete="off" ngModel required email #fname="ngModel">
<div *ngIf="!fname?.valid && (fname?.dirty || fname?.touched)" class="error">
      <div *ngIf="lname.errors?.['required']"><small style="color: rgb(255, 104, 104);">Username is required</small></div>
<div *ngIf="lname.errors?.['lname']"><small style="color: rgb(255, 117, 117);">Invalid username address</small></div>
    </div>
  </div>
 
<div class="input-container">
  <i class="fas fa-lock" style="margin-right:1px;"></i>
  <input type="text"   name="lname" placeholder="Password" ngModel required #lname="ngModel">
  <small style="color: rgb(252, 90, 90);"  *ngIf="!lname.valid&&lname.touched"> password is required</small>
</div>


<div class="gender">
  <input type="radio" name="gender" value="Male" ngModel >Male 
  
</div>

<label class="gender">
  <input type="radio" name="gender" value="Famale" ngModel>Female
</label> 


<label value="country" class="fas fa-globe"><small>Select Your Country</small>
<select name="country" ngModel required #country="ngModel">
  <option value="India">India</option>
  <option value="New-York">New-York</option>
  <option value="England">England</option>
  <option value="Brazil">Brazil</option>
  <option value="Russia">Russia</option>
  <option value="Japan">Japan</option>
  <option value="Germany">Germany</option>
  <option value="Vietnam">Vietnam</option>
</select>
<small style="color: rgb(250, 111, 111);" *ngIf="!country.valid&&country.touched"> Please select Country</small>
</label>


<label name="education" class="fas fa-graduation-cap"><small>Education</small>
  <select name="education" ngModel required #education="ngModel">
    <option value="MBA">MBA</option>
    <option value="MCA">MCA</option>
    <option value="BCA">BCA</option>
    <option value="BSC">BSC</option>
    <option value="B.COM">B.COM</option>
    <option value="M.COM">M.COM</option>
  </select>
  <small style="color: rgb(255, 118, 118);" *ngIf="!education.valid&&education.touched"> Please select Education</small>

  </label>
  

<div class="input-container">

  <button [disabled]="!userForm.valid" type="submit" value="Login">SUBMIT</button>
</div>


</form>
</div>

<div>
  <app-sample [user]="user"></app-sample>
</div>

